<article>
  <div class="row">
    <div class="col3">
      <img
        src="{{article.photo}}" alt="" class="img-fluid">
    </div>
    <div class="col7">
      <h3>{{ article.title }}</h3>
      <p><b>{{ article.categories[0] }}</b> | <b>{{ article.categories[1] }}</b></p>
      <p> {{ article.slug }}</p>
      <p><b>{{ article.title }}</b> {{ article.content }}</p>
      <p><i>Publié par </i> <b>{{ article.auteur }}</b> le 19/03/2025</p>
      <div class="row">
        <div class="col">
          <p class="gray">{{ article.nb_comments }}Commentaires</p>
        </div>
        <div class="col">
          <p><a [routerLink]="['/articles', article.id]" class="btm">Voir plus</a></p>
        </div>
      </div>
    </div>
  </div>
</article>